<a href="https://colab.research.google.com/github/HusanJalilov/AI_Jpyuter_/blob/main/pandas/Tartiblash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [7]:
sr=pd.Series([2,7,4,9], index=['a','d','b','c'])

In [8]:
sr

a    2
d    7
b    4
c    9
dtype: int64

In [9]:
sr.sort_index()

a    2
b    4
c    9
d    7
dtype: int64

In [10]:
sr.sort_values()

a    2
b    4
d    7
c    9
dtype: int64

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df.head()

   price      brand    model  ...       state country      condition
0   6300     toyota  cruiser  ...  new jersey     usa   10 days left
1   2899       ford       se  ...   tennessee     usa    6 days left
2   5350      dodge      mpv  ...     georgia     usa    2 days left
3  25000       ford     door  ...    virginia     usa  22 hours left
4  27700  chevrolet     1500  ...     florida     usa  22 hours left

[5 rows x 12 columns]

In [18]:
df.sort_index(axis=1, ascending=False)

      year                  vin  ...   color      brand
0     2008    jtezu11f88k007763  ...   black     toyota
1     2011    2fmdk3gc4bbb02217  ...  silver       ford
2     2018    3c4pdcgg5jt346413  ...  silver      dodge
3     2014    1ftfw1et4efc23745  ...    blue       ford
4     2018    3gcpcrec2jg473991  ...     red  chevrolet
...    ...                  ...  ...     ...        ...
2494  2019    3n1cn7ap9kl880319  ...     red     nissan
2495  2018    3n1cn7ap5jl884088  ...  silver     nissan
2496  2018    3n1cn7ap9jl884191  ...  silver     nissan
2497  2018    3n1cn7ap3jl883263  ...   black     nissan
2498  2018    3n1cn7ap4jl884311  ...  silver     nissan

[2499 rows x 12 columns]

In [20]:
df.sort_values(by='year')

      price      brand     model  ...         state country      condition
32    29800  chevrolet    camaro  ...  pennsylvania     usa  22 hours left
405      25       ford      door  ...      arkansas     usa  17 hours left
545       0        gmc      door  ...      colorado     usa  18 hours left
362      25       ford    pickup  ...       georgia     usa    2 days left
322       0       ford   chassis  ...    california     usa  19 hours left
...     ...        ...       ...  ...           ...     ...            ...
426   55600      lexus        gx  ...       florida     usa    2 days left
806   28300  chevrolet  colorado  ...       indiana     usa    2 days left
2322  15000     nissan    altima  ...          ohio     usa    2 days left
2344  20100     nissan     rogue  ...     minnesota     usa  14 hours left
1388  17000       ford    fusion  ...  pennsylvania     usa    2 days left

[2499 rows x 12 columns]