<a href="https://colab.research.google.com/github/HusanJalilov/AI_Jpyuter_/blob/main/Filtrlash/Filtrlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df.head()

   price      brand    model  ...       state country      condition
0   6300     toyota  cruiser  ...  new jersey     usa   10 days left
1   2899       ford       se  ...   tennessee     usa    6 days left
2   5350      dodge      mpv  ...     georgia     usa    2 days left
3  25000       ford     door  ...    virginia     usa  22 hours left
4  27700  chevrolet     1500  ...     florida     usa  22 hours left

[5 rows x 12 columns]

In [14]:
df

      price      brand    model  ...       state country      condition
0      6300     toyota  cruiser  ...  new jersey     usa   10 days left
1      2899       ford       se  ...   tennessee     usa    6 days left
2      5350      dodge      mpv  ...     georgia     usa    2 days left
3     25000       ford     door  ...    virginia     usa  22 hours left
4     27700  chevrolet     1500  ...     florida     usa  22 hours left
...     ...        ...      ...  ...         ...     ...            ...
2494   7800     nissan    versa  ...  california     usa    1 days left
2495   9200     nissan    versa  ...     florida     usa  21 hours left
2496   9200     nissan    versa  ...     florida     usa  21 hours left
2497   9200     nissan    versa  ...     florida     usa    2 days left
2498   9200     nissan    versa  ...     florida     usa  21 hours left

[2499 rows x 12 columns]

In [17]:
year=df['year'].unique()
year.sort()
year

array([1973, 1984, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [20]:
df['year'].value_counts()  # yili nechtaligini sonini chiqarib berdi

2019    892
2018    395
2017    377
2016    203
2015    196
2014    104
2013     86
2012     72
2020     48
2011     23
2008     18
2010     13
2009     11
2003      9
2006      8
2004      6
2005      6
2007      6
2001      5
2000      4
1998      4
1997      2
2002      2
1996      2
1994      2
1999      1
1973      1
1993      1
1995      1
1984      1
Name: year, dtype: int64

In [21]:
df['model'].value_counts()

door           651
f-150          219
doors          148
caravan        102
mpv             87
              ...
convertible      1
pioneer          1
dart             1
limited          1
elantra          1
Name: model, Length: 127, dtype: int64

In [22]:
df['color'].value_counts

<bound method IndexOpsMixin.value_counts of 0        black
1       silver
2       silver
3         blue
4          red
         ...
2494       red
2495    silver
2496    silver
2497     black
2498    silver
Name: color, Length: 2499, dtype: object>

In [23]:
df

      price      brand    model  ...       state country      condition
0      6300     toyota  cruiser  ...  new jersey     usa   10 days left
1      2899       ford       se  ...   tennessee     usa    6 days left
2      5350      dodge      mpv  ...     georgia     usa    2 days left
3     25000       ford     door  ...    virginia     usa  22 hours left
4     27700  chevrolet     1500  ...     florida     usa  22 hours left
...     ...        ...      ...  ...         ...     ...            ...
2494   7800     nissan    versa  ...  california     usa    1 days left
2495   9200     nissan    versa  ...     florida     usa  21 hours left
2496   9200     nissan    versa  ...     florida     usa  21 hours left
2497   9200     nissan    versa  ...     florida     usa    2 days left
2498   9200     nissan    versa  ...     florida     usa  21 hours left

[2499 rows x 12 columns]

In [24]:
model=['door','versa']
filtr=df['model'].isin(model)
filtr

0       False
1       False
2       False
3        True
4       False
        ...
2494     True
2495     True
2496     True
2497     True
2498     True
Name: model, Length: 2499, dtype: bool

In [25]:
df[filtr]

      price   brand  model  year  ...        lot       state country      condition
3     25000    ford   door  2014  ...  167753855    virginia     usa  22 hours left
7     13350     gmc   door  2017  ...  167692494  california     usa  20 hours left
14    20700    ford   door  2013  ...  167753916    virginia     usa  22 hours left
15    12710     gmc   door  2017  ...  167692497  california     usa  20 hours left
19    38100    ford   door  2013  ...  167753923    virginia     usa  22 hours left
...     ...     ...    ...   ...  ...        ...         ...     ...            ...
2494   7800  nissan  versa  2019  ...  167722715  california     usa    1 days left
2495   9200  nissan  versa  2018  ...  167762225     florida     usa  21 hours left
2496   9200  nissan  versa  2018  ...  167762226     florida     usa  21 hours left
2497   9200  nissan  versa  2018  ...  167762227     florida     usa    2 days left
2498   9200  nissan  versa  2018  ...  167762228     florida     usa  21 hours left

[685 rows x 12 columns]

In [29]:
df[(df.year>2018) & (df.price>25000)]

      price      brand       model  ...           state country      condition
64    29100   chrysler    pacifica  ...  south carolina     usa  22 hours left
216   45500  chevrolet       tahoe  ...         georgia     usa    3 days left
219   45500  chevrolet       tahoe  ...         georgia     usa    3 days left
225   45500  chevrolet       tahoe  ...         georgia     usa    3 days left
277   67000      dodge  challenger  ...            ohio     usa  21 hours left
...     ...        ...         ...  ...             ...     ...            ...
2162  25700       ford        flex  ...  north carolina     usa    6 days left
2172  25500       ford        flex  ...  north carolina     usa    6 days left
2268  25500     nissan      armada  ...      california     usa    1 days left
2301  29800     nissan      armada  ...      california     usa    8 days left
2473  30100     nissan       titan  ...  north carolina     usa  21 hours left

[359 rows x 12 columns]

In [31]:
df[df.color=='black']

      price      brand    model  ...       state country      condition
0      6300     toyota  cruiser  ...  new jersey     usa   10 days left
6      7300  chevrolet       pk  ...     georgia     usa  22 hours left
9      5250       ford      mpv  ...       texas     usa    2 days left
12    31900  chevrolet     1500  ...   tennessee     usa  22 hours left
14    20700       ford     door  ...    virginia     usa  22 hours left
...     ...        ...      ...  ...         ...     ...            ...
2486   9500     nissan   sentra  ...  california     usa    1 days left
2491   9200     nissan    versa  ...     florida     usa  21 hours left
2492   7400     nissan    versa  ...  california     usa    1 days left
2493   9200     nissan    versa  ...     florida     usa  21 hours left
2497   9200     nissan    versa  ...     florida     usa    2 days left

[516 rows x 12 columns]